.cards-container .cards ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 1rem;
}

.cards-container .cards li {
  border-radius: 0.25rem;
  background: white;
  padding: 1.5rem;
  box-shadow: 0 10px 30px 0 rgba(112 144 176 15%);
}

.cards-container .cards-card-body > * {
  margin: 0;
}

.cards-container .cards-card-body p:first-child {
  float: right;
  font-weight: 400;
  border-radius: 0.2rem;
  border: 0.05rem solid var(--accent);
  background: #ffe9bd;
  color: #a36a00;
  padding: 2px 4px;
  font-size: 0.75rem;
}

.cards-container .cards-card-body h3 {
  color: var(--button-dark);
  font-size: 1.1rem;
  font-weight: 600;
}

.cards-container .cards-card-body p:nth-child(3) {
  font-size: 0.975rem;
  color: var(--foreground-light);
  margin-bottom: 1rem;
}

.cards-container .cards-card-body p:nth-child(4),
.cards-container .cards-card-body p:nth-child(5) {
  font-weight: bold;
}

.cards-container .default-content-wrapper p {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.cards-container .cards-card-body p:nth-child(4):nth-last-child(2) {
  color: var(--color-green);
  float: right;
}

.cards-container .cards-card-body em {
  font-style: normal;
  color: var(--color-green);
}

.cards-container .default-content-wrapper a {
  border: none;
  height: 2rem;
  padding: 0.25rem 2.5rem;
  border-radius: 4px;
  background: var(--button-gradient);
  box-shadow: 0 16px 40px 0 rgba(112 144 176 30%);
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  color: black;
  gap: 1rem;
}

.cards-container .icon-long-arrow-right {
  width: 1rem;
  height: 1.2rem;
}
