.accordion details {
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  border-bottom: none;
}
.accordion-wrapper {
  border-bottom: 1px solid var(--color-border);
  border-radius: 1px;
}

.accordion details p {
  /* margin-bottom: 0.8em; */
  margin: 0;
  padding: 15px;
  color: var(--button-dark);
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: 600;
}

.accordion details summary {
  position: relative;
  padding: 0 16px;
  padding-right: 46px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
}

.accordion details[open] summary {
  background-color: var(--light-color);
}

.accordion details summary:focus,
.accordion details summary:hover {
  background-color: var(--light-color);
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(135deg);
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}

.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion details .accordion-item-body {
  padding: 0 16px;
}

.accordion details[open] .accordion-item-body {
  border-top: 1px solid var(--color-yellow);
  background-color: var(--background-color);
}

.accordion details[open] .accordion-item-body p {
  color: var(--foreground-light);
  font-size: 14px;
  font-family: var(--body-font-family);
  font-weight: 400;
}
.accordion details[open] .accordion-item-body p a {
  color: var(--accent);
  font-size: 14px;
  font-family: var(--body-font-family);
  font-weight: 400;
}

.accordion details[open] .accordion-item-body ol {
  color: var(--foreground-light);
  font-size: 14px;
  font-family: var(--body-font-family);
  padding-left: 26px;
  font-weight: 400;
}

.accordion details ol {
  /* margin-bottom: 0.8em; */
  margin: 0;
  padding: 0.8em;
  color: var(--button-dark);
  font-family: var(--body-font-family);
  font-size: 14px;
  font-weight: 400;
}

.accordion-container .button-container a {
  color: var(--accent);
  text-transform: uppercase !important;
  font-size: 0.875rem;
  font-weight: 600;
  float: right;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.accordion-container .icon-long-arrow-right {
  color: var(--accent);
  width: 1rem;
  height: 1.2rem;
}
.accordion .default-content-wrapper p a {
  float: right;
  color: var(--accent);
}
