.header {
  border: none;
  padding: 15px 0;
  box-shadow: none;
  background-color: #f8f9fa;
}
.layout .header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.header nav .default-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header nav .default-content-wrapper ul {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  padding-left: 10px;
  padding-right: 10px;
  flex-wrap: wrap;
}
.header nav .default-content-wrapper ul :last-child {
color:var(--color-yellow);
}
.header nav .default-content-wrapper ul :last-child:hover {
  color:var(--color-yellow) !important;
  }
.header nav .default-content-wrapper ul li {
  display: flex;
  padding: 10px;
  font-size: 16px;
  color: #343a40;
  font-family: var(--body-font-family);
  cursor: pointer;
}
.header nav .default-content-wrapper ul li:hover {
  color: #343a40;
  font-weight: 600 !important;
  font-size: 16px;
  font-family: var(--body-font-family);
}

.header nav .nav-hamburger {
  display: none;
}

.header nav .nav-sections .default-content-wrapper ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header nav .nav-sections .default-content-wrapper ul :first-child {
  border-radius: 4px;
  border: unset;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  background: linear-gradient(144deg, #ffd200 40.85%, #f7971e 98.66%);
  position: relative;
  overflow: hidden;
  width: 180px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header nav .nav-sections .default-content-wrapper ul :first-child ::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255 255 255 0%) 30%,
    rgba(255 255 255 80%),
    rgba(255 255 255 0%) 70%
  );
  top: 0;
  left: -100px;
  animation: shine 2s infinite linear;
}
@keyframes shine {
  0% {
    left: -100px;
  }
  20% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.header nav .nav-sections .default-content-wrapper ul :last-child {
  background: #454b54;
  color: #fff;
 padding: 10px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
}
.header nav .nav-sections .default-content-wrapper ul :last-child:hover{
  color: #fff !important;
  font-weight:normal !important;
}
