.header p {
  margin: 0 !important;
}

.header-wrapper {
  position: sticky;
  background: transparent;
  top: 0;
  transition: background-color 0.3s ease;
  z-index: 100;
}

.header {
  border: none;
  box-shadow: none;
}

.nav-wrapper {
  padding: 0.5rem 0;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header nav .default-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header .nav-sections ul li {
  border-radius: 0.25rem;
  border: unset;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  height: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  color: white;
  background: var(--button-dark);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-sections ul li:last-child {
  gap: 1.25rem;
}

.header .nav-hamburger {
  display: none;
}

.header .nav-sections ul {
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
  align-items: center;
}

.nav-sections .icon-caret-down {
  display: inline-block;
  position: relative;
}

.nav-sections .icon-caret-down::before {
  content: "";
  display: inline-block;
  height: 0.75rem;
  width: 1px;
  margin-right: 0.75rem;
  background: white;
}

.icon-search {
  height: 1.25rem;
  width: 1.25rem;
  display: inline-flex;
  align-items: center;
}

.nav-sections ul li:nth-child(2) {
  color: black;
  font-weight: 600;
  font-size: 0.75rem;
  background: var(--button-gradient);
}

.nav-sections ul li:first-child {
  padding: 0.5rem 0.6rem;
}

.nav-sections a {
  color: inherit;
  display: inline-flex;
}

.header .nav-brand ul li {
  display: inline-block;
  padding: 10px 7px;
  font-size: 16px;
  color: var(--foreground);
  cursor: pointer;
}

.header .nav-brand ul li:hover {
  font-weight: 600 !important;
}

.header .nav-brand ul {
  display: flex;
  margin: 0;
  padding-left: 1rem;
  justify-content: space-between;
}

.header .nav-brand ul :last-child {
  color: var(--color-yellow);
}
.header .nav-brand ul :last-child:hover {
  color: var(--color-yellow) !important;
}
