.hero-container {
  padding: 0;
  padding-top: 100px;
}

.hero-container > div {
  max-width: unset;
}

.hero {
  position: relative;
  padding: 0;
  padding-top: 5px;
}

.hero .icon {
  display: inline-block;
}

.hero .icon-home {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
}

.hero p:first-child {
  color: var(--foreground-light);
  margin: 0;
  font-weight: 300;
  font-size: 0.875rem;
  display: inline-flex;
  column-gap: 0.5rem;
  align-items: flex-start;
}

.hero p:first-child a {
  color: #727d8d;
  font-weight: 500 !important;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero > div > div h1 {
  margin-top: 40px;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 600;
  font-family: var(--body-font-family);
  align-items: flex-start;
  justify-content: flex-start;
}

.hero ul {
  width: 100%;
  color: var(--foreground-light);
  font-size: 16px;
  font-weight: 400;
  display: grid;
  padding-top: 1.5rem;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 2rem;
  margin: 0;
}

.hero li {
  display: inline-flex;
  gap: 0.75rem;
  align-items: center;
}
