main {
  padding: 0 70px 0 70px;
  background: #f6f7f8;
}
main .hero-container > div {
  max-width: unset;
}

main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px 32px 32px 0;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  /* color: red; */
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero > div > div h1 {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 600;
  font-family: var(--body-font-family);
}

#simplify-stock-investments {
  color: #8a93a0;
}

main > .section:nth-child(1) .hero-wrapper .hero > div > div ul {
  color: #8a93a0;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--body-font-family);
  display: flex;
  gap: 10px;
}

main > .section:nth-child(1) .hero-wrapper .hero > div > div ul li {
  min-width: 26%;
}

main > .section:nth-child(2) {
  width: 70%;
  text-align: center;
}

main > .section:nth-child(2) .default-content-wrapper h2 {
  font-size: 32px;
  font-weight: 600;
  font-family: var(--body-font-family);
}

main > .section:nth-child(2) .default-content-wrapper h2 :first-child {
  color: #8a93a0;
}

main
  > .section:nth-child(2)
  .carousel-wrapper
  .carousel
  .carousel-slides-container
  .carousel-slide-image {
  display: flex;
  gap: 20px;
}

main
  > .section:nth-child(2)
  .carousel-wrapper
  .carousel
  .carousel-slides-container
  .carousel-slide-image
  p {
  width: 235px;
  box-shadow: none;
  margin-bottom: 0;
  min-height: 120px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  background: var(
    --secondary-colors-gradient-light-grey,
    linear-gradient(119deg, #fff 0%, #e8e8e8 100%)
  );
}

main
  > .section:nth-child(2)
  .carousel-wrapper
  .carousel
  .carousel-slides-container
  .carousel-slides {
  margin-left: 155px;
}

main > .section:nth-child(3) {
  width: 70%;
  padding-top: 100px;
}
main > .section:nth-child(3) h2 { text-align: center;}
main > .section:nth-child(3) .default-content-wrapper h2 :first-child {
  color: #8a93a0;
}

main > .section:nth-child(3) .cards-wrapper .cards ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

main > .section:nth-child(3) .cards-wrapper .cards ul li > .cards-card-body {
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 10px 30px 0px rgba(112, 144, 176, 0.15);
  padding: 24px;
  /* flex: 0 0 44%; */
  margin-right: inherit;
  margin-left: inherit;
  margin-bottom: 24px;
  position: relative;
}

main > .section:nth-child(3) .cards-wrapper .cards ul li > .cards-card-body h3 strong{
  border-radius: 4px;
  border: 1px solid #F5C361;
  background: #FFE9BD;
  color: #A36A00;
  padding: 2px 4px;
  font-size: 12px;
  font-family: var(--body-font-family);
  position: absolute;
  left: 20rem;
  top:25px;
}

main > .section:nth-child(3) .cards-wrapper .cards ul li > .cards-card-body h3 em{
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--body-font-family);
  color:#8A93A0;
}
main > .section:nth-child(3) .cards-wrapper .cards ul li > .cards-card-body h3{
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.2;
  font-family: var(--body-font-family);
  color: #454B54;
  font-weight: 600;
}

/* #hanasa-cons,#hanasa-cons-1{
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.2;
  font-family: var(--body-font-family);
  color: #454B54;
  font-weight: 600;
  
}
#honasa,#honasa-1{
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--body-font-family);
  color:#8A93A0;
} */

main > .section:nth-child(3) .cards-wrapper .cards ul li > .cards-card-body p strong {
  position: absolute;
  top: 100px;
  right: 38px;
  color:#049C2E;
}
main > .section:nth-child(3) .cards-wrapper .cards ul li > .cards-card-body p em {
  color:#049C2E;
}

#top-gainer,#top-gainer-1,#honasa,#honasa-1{
  margin: 0;
}

main > .section:nth-child(3) .default-content-wrapper p{
  display: flex;
  justify-content: center;
}
main > .section:nth-child(3) .default-content-wrapper p a {
  border-radius: 4px;
  background: linear-gradient(126deg, #FFD200 0%, #F7971E 100%);
  box-shadow: 0px 16px 40px 0px rgba(112, 144, 176, 0.30);
  padding: 15px 55px 15px 40px;
  border: none;
  height: auto;
  text-transform: uppercase;
    width: 120px;
    height: 10px;
    align-items: center;
    display: flex;
    color: black;
    text-wrap: nowrap;
    justify-content: center;
}

main > .section:nth-child(4) .default-content-wrapper  {
  text-align: center;
  width: 70%;
  padding-top: 100px;
}

main > .section:nth-child(4) .default-content-wrapper h2 strong em {
font-size: 32px;
font-weight: 600;
font-family: var(--body-font-family);
color:#8A93A0;
font-style: normal;
}
main > .section:nth-child(4) .default-content-wrapper h2 {
  margin: 0;
  font-size: 32px;
  font-family: var(--body-font-family);
}

main > .section:nth-child(4) .default-content-wrapper p{
  color: #8A93A0 !important;
    margin: 0;
    font-size: 16px;
    font-family: var(--body-font-family);
    margin-top: 30px;
    margin-bottom: 30px;
}

main > .section:nth-child(5) .default-content-wrapper{
  width: 70%;
  padding-top: 70px;
}

main > .section:nth-child(5) .default-content-wrapper h2{
  text-align: center;
  margin: 0;
  font-size: 32px;
font-weight: 600;
font-family: var(--body-font-family);
font-style: normal !important;
}

main > .section:nth-child(5) .default-content-wrapper h2 strong em{
  font-style: normal !important;
  color:#8A93A0;
}

main > .section:nth-child(5) .default-content-wrapper ul li{
  color: #454B54;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--body-font-family);
  margin-bottom: 20px;
}

  main > .section:nth-child(5) .default-content-wrapper ul li ul li{
    color: #8A93A0 !important;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--body-font-family);
  }

  main > .section:nth-child(6) .default-content-wrapper{
    width: 70%;
    padding-top: 70px;
  }

  main > .section:nth-child(6) .default-content-wrapper h2{
    text-align: center;
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    font-family: var(--body-font-family);
    font-style: normal !important;
  }
  main > .section:nth-child(6) .default-content-wrapper h2 strong em{
    font-style: normal !important;
    color:#8A93A0;
  }

  main > .section:nth-child(6) .default-content-wrapper > ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content: center;
  }
  main > .section:nth-child(6) .default-content-wrapper > ul li{
   margin-top: 20px;
   color: #454B54;
   font-size: 16px;
   font-family: var(--body-font-family);
   font-weight: 500;
  }

  main > .section:nth-child(6) .default-content-wrapper > ul li > ul li{
    font-size: 16px;
    color: #8A93A0 !important;
    font-weight:400;
    margin-bottom: 15px;
    font-family: var(--body-font-family);
  }