footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);  
  background-color: #333;
  color: white;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  /* bottom: 0; */
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

.footer > div{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}

.footer > div .section{
  max-width: 30%;
}


footer .footer p {
  /* margin: 0; */
  color: #BCBCBC;
  font-size: 16px;
  font-family: sans-serif;
}
footer .footer ul{
  color: #8A93A0;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
