footer {
  font-size: var(--body-font-size-s);
  background-color: var(--background-dark);
  color: white;
  padding: 10px 0;
  position: absolute;
  width: 100%;

  /* bottom: 0; */
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

.footer > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer > div .section {
  max-width: 30%;
}

footer .footer p {
  color: var(--footer-foreground);
  font-size: 16px;
  font-family:sans-serif;
  font-weight:600;
}
footer .footer ul {
  color: var(--foreground-light);
  gap: 10px;
  display: flex;
  flex-direction: column;
}

footer .footer ul li a{
  color: var(--foreground-light);
}
