footer {
  font-size: var(--body-font-size-s);
  background-color: var(--background-dark);
  color: white;
  padding: 10px 0;
  position: absolute;
  width: 100%;

  /* bottom: 0; */
}

.footer {
  max-width: 1200px;
  margin: auto;
}

.footer > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer > div .section {
  max-width: 30%;
}

.footer > div > .section .default-content-wrapper p {
  color: var(--footer-foreground);
  font-size: 16px;
  font-family: var(--body-font-family);
  font-weight: 600;
}
.footer > div > .section .default-content-wrapper ul {
  color: var(--foreground-light);
  gap: 10px;
  display: flex;
  flex-direction: column;
  font-family: var(--body-font-family);
}

.footer > div > .section .default-content-wrapper ul li a {
  color: var(--foreground-light);
  font-family: var(--body-font-family);
}
.footer > div >  .section:nth-of-type(6){
  max-width: 100% !important;
 
}

.footer > div >  .section:nth-of-type(6) .default-content-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
 
}
.footer > div >  .section:nth-of-type(6) .default-content-wrapper ul{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer > div >  .section:nth-of-type(6) .default-content-wrapper ul li{
  border-right: 1px solid;
  padding-right: 10px;
  cursor: pointer;
}



.footer > div >  .section:nth-of-type(7){
  max-width: 100% !important;
 
}

.footer > div >  .section:nth-of-type(7) .default-content-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 123px;
  justify-content: space-between;
  align-items: center;
 
}
.footer > div >  .section:nth-of-type(7) .default-content-wrapper ul{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer > div >  .section:nth-of-type(7) .default-content-wrapper ul li{
  border-right: 1px solid;
  padding-right: 10px;
  cursor: pointer;
}


.footer > div >  .section:nth-of-type(8){
  max-width: 100% !important;
 padding: 10px 0 10px 0;
}

.footer > div >  .section:nth-of-type(9){
  max-width: 100% !important;
 padding: 10px 0 10px 0;
 border-top: 1px solid #454B54;
 width: 100%;
}
.footer > div >  .section:nth-of-type(10){
  max-width: 100% !important;
 padding: 10px 0 10px 0;
 border-top: 1px solid #454B54;
 width: 100%;
}
.footer > div >  .section:nth-of-type(11){
  max-width: 100% !important;
 padding: 10px 0 10px 0;
 border-top: 1px solid #454B54;
 width: 100%;
}