/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --color-white: #fff;
  --background: #f3f6f8;
  --foreground: #343a40;
  --foreground-light: #8a93a0;
  --foreground-dark: #000;
  --background-medium: #dadfe4;
  --background-dark: #333;
  --accent: #ee5600;
  --footer-background: #333;
  --footer-foreground: #bcbcbc;
  --button-dark: #454b54;
  --color-yellow: #f59f00;
  --color-green: #049c2e;
  --color-border: #dee2e6;
  --button-gradient: linear-gradient(
    126deg,
    rgb(255 210 0) 0%,
    rgb(247 151 30) 100%
  );

  /* fonts */
  --body-font-family: poppins, roboto, roboto-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: poppins, "Roboto Mono", menlo, consolas;

  /* Container */
  --section-width: 65%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--body-font-family);
  background: var(--background);
}

main {
  padding: 0 70px;
}

@media (min-width: 1440px) {
  main,
  .nav-wrapper {
    width: 80vw;
    margin: auto;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  main,
  .nav-wrapper {
    margin: auto;
    width: 90vw;
  }
}

main .section {
  width: var(--section-width);
  padding: 0 0 80px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: black;
  margin-bottom: 20px;
  line-height: 1.2;
  margin-top: 0;
}

h1 > em,
h2 > em {
  color: var(--foreground-light);
  font-style: normal;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.form-container {
  display: none;
}
